* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
}

a {
  color: #06678F;
  text-decoration: none;
}
a:hover {
  color: #5094b0;
}

header {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
header h1 {
  display: inline-block;
  color: #222;
  font-size: 1em;
  font-weight: 500;
  margin: 0 0.5em 0 0;
}
header p {
  display: inline-block;
  color: #ccc;
  margin: 0;
}
header a:last-child {
  float: right;
}

.container {
  padding: 10px;
}
